/* Reset margin dan padding dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #7fe2f3;
    color: #02070a;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 50px;
}

header h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.profile-photo {
    display: block;
    max-width: 100px;
    border-radius: 50%;
    margin: 0 auto 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gambar{
    display: flex;
    flex-direction: row;
    margin:4%;
}

.gambar a{
    
    color:white;
    text-decoration: none;
    font-size: medium;
}

.gambar a:hover{
    transform: scale(2);    
}



nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #faf3f3;
    font-weight: bold;
}

section {
    margin-bottom: 50px;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    margin-top: 50px;
}

footer p {
    font-size: 0.9em;
}
@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }
    
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
    
    .project {
        margin-bottom: 40px;
    }
}
